:root {
  --bs-primary: #5b5fc7;
  --bs-primary-rgb: #5b5fc7;
  --bs-blue: #7579eb;
  --bs-border-radius: 2px;
  --bs-modal-border-radius: 4px;
  --bs-modal-inner-border-radius: 4px;
}

body {
  overflow: hidden;
}

.btn {
  outline: none;
  border-width: 0px;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.6) 0px 1px 4px;
}

.btn-primary {
  --bs-btn-bg: #7579eb;
  --bs-btn-border-color: #7579eb;
  --bs-btn-hover-bg: #5b5fc7;
  --bs-btn-hover-border-color: #4c50c8;
  --bs-btn-active-bg: #4c50c8;
  --bs-btn-active-border-color: #232795;
  --bs-btn-disabled-bg: #7579eb;
  --bs-btn-disabled-border-color: #7579eb;
}

.btn-danger {
  --bs-btn-bg: #94232e;
}

.btn-close-dialog {
  padding: 0;
}

.form-check-input:checked {
  background-color: #7579eb;
  border-color: #7579eb;
}

/*Remove arror inputs to [number]*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

select,
text,
input {
  border-radius: 2px !important;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.btn:disabled {
  background-color: #7579ebb6;
}

/* button hover decoration */
.btn:hover {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26) !important;
}

.btn:active {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.26);
  transform: scale(0.98);
  transition: all 0.1s;
}

.alert {
  opacity: 0.95;
  z-index: 100;
}

.preview-photo {
  max-height: 156px;
}

.status-indicator {
  display: inline-block;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: 2px #fff solid;
  box-shadow: 0 0 2px 0 #00000033;
}

tr.inactive td {
  font-style: oblique;
  color: #777 !important;
}

.invalid-feedback > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.themeColorPreview {
  display: inline-block;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: 2px #fff solid;
}

.modal-backdrop {
  display: block;
  background-color: #00000044;
}
